{% extends 'form.html' %}

{% block form %}
<div class="form-group">
  <label>Tipo de Dispositivo: </label>
  {{form.dev_type}}
</div>
<div class="form-group">
  <label>Marca: </label>
  {{form.brand}}
</div>
<div class="form-group">
  <label>Modelo de Dispositivo: </label>
  {{form.dev_model}}
</div>
{% endblock form %}

{% block form_scripts %}
  <script>

    function message_error(msg){
      alert(msg)
    }

    function updateDeviceModelOption(filter_action, id) {
      let select_models = $('select[name="dev_model"]');
      let options = '<option value="">----------</option>';

      $.ajax({
        url:window.location.pathname,
        type: 'POST',
        data: {
          'action': 'filter_action',
          'id': id
        },
        dataType: 'json'
      }).done(function (data) {
        if(!data.hasOwnProperty('error')) {
          $.each(data, function (key, value) {
            options+='<option value="'+value.id+'">'+value.name+'</option>';
          })
          return false;
        } else {
          message_error(data.error);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(textStatus +': '+ errorThrown);
      }).always(function (data){
        select_models.html(options)
      });

    };

    $(function () {

      $('select[name="dev_type"]').on('change', function (){
        let id = $(this).val();
        updateDeviceModelOption('search_model_id', id);
      });

      $('select[name="brand"]').on('change', function (){
        let id = $(this).val();
        updateDeviceModelOption('search_model_brand', id);
      });
    });

  </script>
{% endblock form_scripts %}