{% extends 'form.html' %}

{% block form %}
<div class="form-group">
  <label>Tipo de Dispositivo: </label>
  {{ form.dev_type }}
</div>
<div class="form-group">
  <label>Marca: </label>
  {{ form.brand }}
</div>
<div class="form-group">
  <label>Modelo de Dispositivo: </label>
  {{ form.dev_model }}
</div>
<div class="form-group">
  <label>Tipo de Conexión: </label>
  {{ form.connection }}
</div>
<div class="form-group">
  <label>Ip: </label>
  {{ form.ip }}
</div>
<div class="form-group">
  <label>Nombre en la Red: </label>
  {{ form.net_name }}
</div>
<div class="form-group">
  <label>Estado: </label>
  {{ form.dev_status }}
</div>
<div class="form-group">
  <label>S/N°: </label>
  {{ form.serial_n }}
</div>
<div class="form-group">
  <label>Oficina: </label>
  {{ form.office }}
</div>
<div class="form-group">
  <label>Boca de Pared: </label>
  {{ form.wall_port }}
</div>
<div class="form-group">
  <label>Boca Switch: </label>
  {{ form.switch_port }}
</div>
<div class="form-group">
  <label>Empleado: </label>
  {{ form.employee }}
</div>
{% endblock form %}

{% block form_scripts %}
<script src="{% static 'device/js/form.js' %}"></script>
{% endblock form_scripts %}
