{% extends 'form.html' %}

{% block form %}
<div class="form-group">
  <label>Tipo de Dispositivo: </label>
  {{form.dev_type}}
</div>
<div class="form-group">
  <label>Marca: </label>
  {{form.brand}}
</div>
<div class="form-group">
  <label>Modelo de Dispositivo: </label>
  {{form.dev_model}}
</div>
<div class="form-group">
  <label>Tipo de Conexión: </label>
  {{form.connection_type}}
</div>
<div class="form-group">
  <label>Ip: </label>
  {{form.ip}}
</div>
<div class="form-group">
  <label>Nombre en la Red: </label>
  {{form.dev_net_name}}
</div>
<div class="form-group">
  <label>Estado: </label>
  {{form.dev_status}}
</div>
<div class="form-group">
  <label>S/N°: </label>
  {{form.serial_number}}
</div>
<div class="form-group">
  <label>Oficina: </label>
  {{form.office}}
</div>
<div class="form-group">
  <label>Boca de Pared: </label>
  {{form.wall_port}}
</div>
<div class="form-group">
  <label>Boca Switch: </label>
  {{form.switch_port}}
</div>
<div class="form-group">
  <label>Empleado: </label>
  {{form.employee}}
</div>
{% endblock form %}

{% block form_scripts %}
  <script>

    function message_error(msg){
      alert(msg)
    }

    function updateDeviceModelOption(dev_type_id, brand_id) {
      let select_models = $('select[name="dev_model"]');
      let options = '<option value="">----------</option>';

      $.ajax({
        url:window.location.pathname,
        type: 'POST',
        data: {
          'action': 'search_models',
          'dev_type_id': dev_type_id,
          'brand_id': brand_id
        },
        dataType: 'json'
      }).done(function (data) {
        if(!data.hasOwnProperty('error')) {
          $.each(data, function (key, value) {
            options+='<option value="'+value.id+'">'+value.name+'</option>';
          })
          return false;
        } else {
          message_error(data.error);
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(textStatus +': '+ errorThrown);
      }).always(function (data){
        select_models.html(options)
      });

    };

    $(function () {
      function getSelectedVaslues() {
        let dev_type_id = $('select[name="dev_type"]').val();
        let brand_id = $('select[name="brand"]').val();
        return {dev_type_id, brand_id};
      }

      $('select[name = "dev_type"], select[name="brand"]').on('change', function(){
        let {dev_type_id, brand_id} = getSelectedVaslues();
        updateDeviceModelOption(dev_type_id, brand_id);
      });
    });

  </script>
{% endblock form_scripts %}