{% extends 'form.html' %}

{% block form %}
<div class="form-group">
  <label>Tipo de Dispositivo: </label>
  {{ form.dev_type }}
</div>
<div class="form-group">
  <label>Marca: </label>
  {{ form.brand }}
</div>
<div class="form-group">
  <label>Modelo de Dispositivo: </label>
  {{ form.dev_model }}
</div>
<div class="form-group">
  <label>Tipo de Conexión: </label>
  {{ form.connection }}
</div>
<div class="form-group">
  <label>Ip: </label>
  {{ form.ip }}
</div>
<div class="form-group">
  <label>Nombre en la Red: </label>
  {{ form.net_name }}
</div>
<div class="form-group">
  <label>Estado: </label>
  {{ form.dev_status }}
</div>
<div class="form-group">
  <label>S/N°: </label>
  {{ form.serial_n }}
</div>
<div class="form-group">
  <label>Oficina: </label>
  {{ form.office }}
</div>
<div class="form-group">
  <label>Boca de Pared: </label>
  {{ form.wall_port }}
</div>
<div class="form-group">
  <label>Boca Switch: </label>
  {{ form.switch_port }}
</div>
<div class="form-group">
  <label>Empleado: </label>
  {{ form.employee }}
</div>
{% endblock form %}

{% block form_scripts %}
<script>
  function message_error(msg){
    alert(msg);
  }

  function updateOptions(url, data, selectElement) {
    let options = '<option value="">----------</option>';

    $.ajax({
      url: url,
      type: 'POST',
      data: data,
      dataType: 'json'
    }).done(function (data) {
      if (typeof data === 'object' && !data.hasOwnProperty('error')) {
        $.each(data, function (key, value) {
          options += '<option value="' + value.id + '">' + value.name + '</option>';
        });
        selectElement.html(options);
      } else {
        message_error(data.error || 'Ha ocurrido un error inesperado');
      }
    }).fail(function (jqXHR, textStatus, errorThrown) {
      message_error(textStatus + ': ' + errorThrown);
    });
  }

  $(function(){
    $('select[name="office"]').on('change', function(){
      const office_id = $(this).val();

      updateOptions(window.location.pathname, {
        'action': 'search_wall_ports',
        'office_id': office_id
      }, $('select[name="wall_port"]'));

      updateOptions(window.location.pathname, {
        'action': 'search_switch_ports',
        'office_id': office_id
      }, $('select[name="switch_port"]'));

      updateOptions(window.location.pathname, {
        'action': 'search_employees',
        'office_id': office_id
      }, $('select[name="employee"]'));
    });

    $('select[name="dev_type"], select[name="brand"]').on('change', function(){
      const dev_type_id = $('select[name="dev_type"]').val();
      const brand_id = $('select[name="brand"]').val();

      updateOptions(window.location.pathname, {
        'action': 'search_models',
        'dev_type_id': dev_type_id,
        'brand_id': brand_id
      }, $('select[name="dev_model"]'));
    });
  });
</script>
{% endblock form_scripts %}
