{% extends 'form.html' %}
{% load static %}

{% block extra_refs %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2-bootstrap.min.css' %}">
<script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/select2.full.min.js' %}"></script>
{% endblock extra_refs %}

{% block form %}

<div class="form-group">
  <labe for="id_dev_type">Tipo de Dispositivo: </label>
  {{ form.dev_type }}
  {% if form.dev_type.errors %}
  <div class="invalid-feedback d-block">
    {{ form.dev_type.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_brand">Marca: </label>
  {{ form.brand }}
  {% if form.brand.errors %}
  <div class="invalid-feedback d-block">
    {{ form.brand.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_dev_model">Modelo de Dispositivo: </label>
  {{ form.dev_model }}
  {% if form.dev_model.errors %}
  <div class="invalid-feedback d-block">
    {{ form.dev_model.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_connection_type">Tipo de Conexión: </label>
  {{ form.connection }}
  {% if form.connection.errors %}
  <div class="invalid-feedback d-block">
    {{ form.connection.errors|join:"<br>" }}
  </div>
{% endif %}
</div>
<div class="form-group">
  <label for="id_ip">Ip: </label>
  {{ form.ip }}
  {% if form.ip.errors %}
  <div class="invalid-feedback d-block">
    {{ form.ip.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_net_name">Nombre en la Red: </label>
  {{ form.net_name }}
  {% if form.net_name.errors %}
  <div class="invalid-feedback d-block">
    {{ form.net_name.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_dev_status">Estado: </label>
  {{ form.dev_status }}
  {% if form.dev_status.errors %}
  <div class="invalid-feedback d-block">
    {{ form.dev_status.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_serial_n">S/N°: </label>
  {{ form.serial_n }}
  {% if form.serial_n.errors %}
  <div class="invalid-feedback d-block">
    {{ form.serial_n.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_dependency">Dependencia: </label>
  {{ form.dependency }}
  {% if form.dependency.errors %}
  <div class="invalid-feedback d-block">
    {{ form.dependency.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_office">Oficina: </label>
  {{ form.office }}
  {% if form.office.errors %}
  <div class="invalid-feedback d-block">
    {{ form.office.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_wall_port">Boca de Pared: </label>
  {{ form.wall_port }}
  {% if form.wall_port.errors %}
  <div class="invalid-feedback d-block">
    {{ form.wall_port.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_switch_port">Boca Switch: </label>
  {{ form.switch_port }}
  {% if form.switch_port.errors %}
  <div class="invalid-feedback d-block">
    {{ form.switch_port.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="id_employee">Empleado: </label>
  {{ form.employee }}
  {% if form.employee.errors %}
  <div class="invalid-feedback d-block">
    {{ form.employee.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

{% endblock form %}

{% block form_scripts %}
  <script src="{% static 'device/js/form.js' %}"></script>
{% endblock form_scripts %}
