<div class="modal fade" id="deviceDetailModal" tabindex="-1" role="dialog" aria-labelledby="deviceDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content bg-dark">
            <!-- Encabezado del modal -->
            <div class="modal-header bg-custom-dark-over-dark">
                <h5 class="modal-title" id="deviceDetailModalLabel">
                    <i class="fas fa-info-circle"></i> Detalles de Dispositivo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-close text-light"></i></span>
                </button>
            </div>

            <!-- Cuerpo del modal -->
            <div class="modal-body bg-dark">
                <div class="card bg-custom-dark-over-dark">
                    <div class="card-header bg-custom-primary">
                        <h5 class="card-title">
                            <i class="fas fa-desktop"></i> ID de Dispositivo: {{ device.id }}
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Información básica del dispositivo -->
                            <div class="col-md-12 mb-2">
                                <div class="card bg-dark">
                                    <div class="card-header bg-custom-primary">
                                        <i class="fas fa-info"></i> Información Básica
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                {% if device.dev_model.image %}
                                                    <img src="{{ device.dev_model.image.url }}" class="img-fluid rounded" alt="Imagen del Dispositivo {{ device.serial_n }}" style="max-height: 200px;">
                                                {% else %}
                                                    <img src="/media/no_file.svg" class="img-fluid rounded" alt="Imagen no disponible" style="max-height: 200px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8">
                                                <h4 class="mb-3"><strong>{{ device.dev_model.dev_model }}</strong></h4>
                                                <p class="mb-2"><strong>Tipo de Dispositivo:</strong> {{ device.dev_model.dev_type.dev_type }}</p>
                                                <p class="mb-2"><strong>Marca:</strong> {{ device.dev_model.brand.brand }}</p>
                                                <p class="mb-2"><strong>Estado:</strong> {{ device.dev_status }}</p>
                                                <p class="mb-2"><strong>Tipo de Conexión:</strong> {{ device.connection|default:"No especificado" }}</p>
                                                <p class="mb-2"><strong>IP:</strong> {{ device.ip|default:"No asignada" }}</p>
                                                <p class="mb-2"><strong>Número de Serie:</strong> {{ device.serial_n }}</p>
                                                <p class="mb-2"><strong>Nombre en Red:</strong> {{ device.net_name|default:"No asignado" }}</p>

                                                <p class="text-muted small">Última modificación: {{ device.date_updated|date:"d/m/Y H:i" }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Detalles de la oficina -->
                            <div class="col-md-6 mb-2">
                                <div class="card bg-dark">
                                    <div class="card-header bg-custom-primary">
                                        <i class="fas fa-building"></i> Oficina
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-2"><strong>Oficina:</strong> {{ device.office.office }}</p>
                                        <p class="mb-2"><strong>Dependencia:</strong> {{ device.office.dependency.dependency }}</p>
                                        <p class="mb-2"><strong>Edificio:</strong> {{ device.office.loc.edifice.edifice }}</p>
                                        <p class="mb-2"><strong>Domicilio:</strong> {{ device.office.loc.edifice.address }}</p>
                                        <p class="mb-2"><strong>Ubicación en el Edificio:</strong> Piso: {{ device.office.loc.floor }} | Ala: {{ device.office.loc.wing }}</p>
                                        <p class="mb-2"><strong>Localidad:</strong> {{ device.office.loc.edifice.location.location }}</p>
                                        <p class="mb-2"><strong>Provincia:</strong> {{ device.office.loc.edifice.location.province.province }}</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Detalles de conexión -->
                            <div class="col-md-6 mb-2">
                                <div class="card bg-dark">
                                    <div class="card-header bg-custom-primary">
                                        <i class="fas fa-plug"></i> Conexiones
                                    </div>
                                    {% if connections %}
                                        {% for connection  in connections %}
                                            <p class="mb-2 text-center">
                                                <i class="fas fa-ethernet"></i> {{ connection }}
                                            </p>
                                                {% if not forloop.last %}
                                                    <p class="mb-2 text-center">
                                                        <i class="fas fa-arrow-down"></i>
                                                    </p>
                                                {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <p class="mb-2 text-center">
                                            <strong>Dispositivo sin conexion a la Red</strong>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Empleados asignados -->
                            <div class="col-md-12 mb-2">
                                <div class="card bg-dark">
                                    <div class="card-header bg-custom-primary">
                                        <i class="fas fa-users"></i> Empleados Asignados
                                    </div>
                                    <div class="card-body">
                                        {% if device.employee.exists %}
                                            <ul class="list-unstyled">
                                                {% for emp in device.employee.all %}
                                                    <li class="mb-2">{{ emp.employee_last_name }}, {{ emp.employee_name }} (CUIL: {{ emp.cuil }})</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p class="text-muted">No hay empleados asignados a este dispositivo.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie del modal -->
            <div class="modal-footer bg-custom-dark-over-dark">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>