{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Dispositivo</title>
    <link rel="stylesheet" href="{% static 'lib/adminlte_3.2.0/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/fontawesome_6.5.2/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2_dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'lib/jquery_3.7.1/jquery-3.7.1.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <h2>Agregar Dispositivo</h2>
        <form method="post" id="deviceForm">
            {% csrf_token %}

            <div class="row bg-custom-dark-over-dark p-3 my-2">
                <div class="form-group col-12">
                    <label for="id_dev_model">Modelo de Dispositivo:</label>
                    <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="dev_model_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.dev_model }}
                    {% if form.dev_model.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.dev_model.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group col-12">
                    <label for="id_connection">Tipo de Conexion:</label>
                    {{ form.connection }}
                    {% if form.connection.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.connection.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group col-6">
                    <label for="id_ip">Ip:</label>
                    {{ form.ip }}
                    {% if form.ip.help_text %}
                    <small class="form-text text-muted">{{form.ip.help_text}}</small>
                    {% endif %}
                    {% if form.ip.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.ip.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group col-6">
                    <label for="id_net_name">Nombre en la Red:</label>
                    {{ form.net_name }}
                    {% if form.net_name.help_text %}
                    <small class="form-text text-muted">{{form.net_name.help_text}}</small>
                    {% endif %}
                    {% if form.net_name.errors %}
                    <div class="invalid-feedback d-block">
                          {{ form.net_name.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group col-6">
                    <label for="id_dev_status">Estado:</label>
                    {{ form.dev_status }}
                    {% if form.dev_status.errors %}
                    <div class="invalid-feedback d-block">
                          {{ form.dev_status.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group col-6">
                    <label for="id_serial_n">S/N°:</label>
                    {{ form.serial_n }}
                    {% if form.serial_n.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.serial_n.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row bg-custom-dark-over-dark p-3 my-2">
                <div class="form-group col-12">
                    <label for="id_office">Oficina:</label>
                    <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="office_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.office }}
                    {% if form.office.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.office.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group col-12">
                    <label for="id_employee">Empleado:</label>
                    <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="employee_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.employee }}
                    {% if form.employee.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.employee.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row bg-custom-dark-over-dark p-3 my-2">
                <div class="form-group">
                    <label for="id_wall_port_in">Boca de Pared:</label>
                    <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="wall_port_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.wall_port_in }}
                    {% if form.wall_port_in.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.wall_port_in.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_switch_port_in">Puerto Switch:</label>
                    <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="switch_port_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.switch_port_in }}
                    {% if form.switch_port_in.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.switch_port_in.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_patch_port_in">Puerto Patchera:</label>
                    <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="patch_port_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.patch_port_in }}
                    {% if form.patch_port_in.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.patch_port_in.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Guardar <i class="fas fa-save"></i></button>
        </form>
    </div>

    <script src="{% static 'lib/select2_4.1.0/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/popup_filters.js' %}"></script>

    <script>

        submitPopupForm('#deviceForm', "{% url 'sh:device_add' %}", 'device');

        let modelAddUrl = "{% url 'sh:dev_model_add' %}";
        let wall_officeAddUrl = "{% url 'sh:office_add' %}";
        let employeeAddUrl = "{% url 'sh:employee_add' %}";
        let wall_portAddUrl = "{% url 'sh:wall_port_add' %}";
        let switch_portAddUrl = "{% url 'sh:switch_port_add' %}";
        let patch_portAddUrl = "{% url 'sh:patch_port_add' %}";

        initPopup({
            triggerSelector: '#dev_model_popup_add',
            popupUrl: "{% url 'sh:dev_model_add' %}",
            entityType: 'device',
            selectedId: 'id_dev_model',
            formSelector: '#deviceForm',
            onSuccess: function(response) {
                console.log('Modelo de Switch agregado:', response);
            }
        })

        initPopup({
            triggerSelector: '#office_popup_add',
            popupUrl: "{% url 'sh:office_add' %}",
            entityType: 'device',
            selectedId: 'id_office',
            formSelector: '#deviceForm',
            onSuccess: function(response) {
                console.log('Oficina agregada:', response);
            }
        })

        initPopup({
            triggerSelector: '#employee_popup_add',
            popupUrl: "{% url 'sh:employee_add' %}",
            entityType: 'device',
            selectedId: 'id_employee',
            formSelector: '#deviceForm',
            onSuccess: function(response) {
                console.log('Empleado agregado:', response);
            }
        })

        initPopup({
            triggerSelector: '#wall_port_popup_add',
            popupUrl: "{% url 'sh:wall_port_add' %}",
            entityType: 'device',
            selectedId: 'id_wall_port_in',
            formSelector: '#deviceForm',
            onSuccess: function(response) {
                console.log('Boca de pared de ingreso agregada:', response);
            }
        })

        initPopup({
            triggerSelector: '#switch_port_popup_add',
            popupUrl: "{% url 'sh:switch_port_add' %}",
            entityType: 'device',
            selectedId: 'id_switch_port_in',
            formSelector: '#deviceForm',
            onSuccess: function(response) {
                console.log('Puerto del switch de ingreso agregado:', response);
            }
        })

        initPopup({
            triggerSelector: '#patch_port_popup_add',
            popupUrl: "{% url 'sh:patch_port_add' %}",
            entityType: 'device',
            selectedId: 'id_pathc_port_in',
            formSelector: '#deviceForm',
            onSuccess: function(response) {
                console.log('Puerto de la patchera de ingreso agregado:', response);
            }
        })

        window.addEventListener('message', function(event) {
            if (event.data.type === 'dev_modelAdded') {
                let select = document.getElementById('id_dev_model');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }

            if (event.data.type === 'officeAdded') {
                let select = document.getElementById('id_office');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }

            if (event.data.type === 'employeeAdded') {
                let select = document.getElementById('id_employee');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }

            if (event.data.type === 'wall_portAdded') {
                let select = document.getElementById('id_wall_port_in');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }

            if (event.data.type === 'switch_portAdded') {
                let select = document.getElementById('id_switch_port_in');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }

            if (event.data.type === 'patch_portAdded') {
                let select = document.getElementById('id_patch_port_in');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }
        });
    </script>
</body>
</html>