{% extends 'list.html' %}

{% load static %}

{% block header_list %}
 <!-- Datatables de la App sh -->
 <script src="{% static 'movements/js/list.js' %}"></script>
{% endblock header_list %}

{% block columns %}

    <th scope="col" style="width: 25%;">Dispositivo</th>
    <th scope="col" style="width: 10%;">Oficina</th>
    <th scope="col" style="width: 10%;">Usuario</th>
    <th scope="col" style="width: 10%;">Movimiento</th>
    <th scope="col" style="width: 10%;">Tecnico</th>
    <th scope="col" style="width: 10%;">Fecha</th>
    <th scope="col" style="width: 15%;">Opciones</th>

{% endblock columns %}

{% block rows %}



{% endblock rows %}

{% block add_button %}

<a href="{{ create_url }}" type="button" class="btn btn-primary" id="{{btn_add_id}}">
    <i class="fas fa-plus"></i> Agregar Movimiento
</a>

{% endblock add_button %}

{% block js %}
    {% include 'movements/modal_details.html' %}
{% endblock js %}
