{% extends 'form.html' %}
{% load static %}

{% block extra_refs %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2-bootstrap.min.css' %}">
<script src="{% static 'lib/select2_4.1.0/dist/js/select2.full.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/select2_dark.css' %}">
{% endblock extra_refs %}

{% block form %}

<div class="container mt4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center {{bg_color}} ">
            <h3 class="card-title">Seleccione el Edificio y Dependencia de la Oficina</h3>
        </div>
        <div class="card-body">
            <button id="toggle-office-filters" class="btn {{ filter_btn_color }} mb-1" type="button"> Filtros <i class="fa fa-filter"></i></button>
            <div id="filter-office-cards" class="d-none">
                <div class="row">
                    <div class="container">
                        <div class="card text-white bg-secondary my-1">
                            <div class="card-header">
                                Filtrar por Provincia y Localidad
                            </div>
                            <div class="card-body row">
                                <div class="form-group col-6">
                                    <label for="id_province">Provincia:</label>
                                    {{ form.province }}
                                    {% if form.province.errors %}
                                    <div class="invalid-feedback d-block">
                                    {{ form.province.errors|join:"<br>" }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group col-6">
                                    <label for="id_location">Localidad:</label>
                                    {{ form.location }}
                                    {% if form.location.errors %}
                                    <div class="invalid-feedback d-block">
                                    {{ form.location.errors|join:"<br>" }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">
                <div class="mt-2">
                    <label for="id_edifice">Dependencia: </label>  <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="dependency_popup_add"><i class="fas fa-plus"></i></button>
                </div>
                {{ form.dependency }}
                {% if form.dependency.errors %}
                <div class="invalid-feedback d-block">
                {{ form.dependency.errors|join:"<br>" }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <div class="mt-2">
                    <label for="id_edifice">Edificio: </label>  <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="edifice_popup_add"><i class="fas fa-plus"></i></button>
                </div>
                {{ form.edifice }}
                {% if form.edifice.errors %}
                <div class="invalid-feedback d-block">
                {{ form.edifice.errors|join:"<br>" }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center {{bg_color}} ">
            <h3 class="card-title">Seleccione la Ubicación de la Oficina</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="mt-2">
                    <label for="id_loc">Ubicación de la Oficina: </label>  <button type="button" class="btn btn-sm {{ btn_color }} ml-2 mb-1" id="office_loc_popup_add"><i class="fas fa-plus"></i></button>
                </div>
                {{ form.loc }}
                {% if form.loc.errors %}
                <div class="invalid-feedback d-block">
                {{ form.loc.errors|join:"<br>" }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center {{bg_color}} ">
            <h3 class="card-title">Ingrese los Datos de la Oficina</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="id_office">Oficina:</label>
                {{ form.office }}
                {% if form.office.errors %}
                <div class="invalid-feedback d-block">
                {{ form.office.errors|join:"<br>" }}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_description">Descripción:</label>
                {{ form.description }}
                {% if form.description.errors %}
                <div class="invalid-feedback d-block">
                {{ form.description.errors|join:"<br>" }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock form %}

{% block form_scripts %}
    <script src="{% static 'office/js/form.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
    <script>
        let dependencyAddUrl = "{% url 'sh:dependency_add' %}";
        let edificeAddUrl = "{% url 'sh:edifice_add' %}";
        let officeLocAddUrl = "{% url 'sh:office_loc_add' %}";
    </script>
{% endblock form_scripts %}
