{% extends 'delete.html' %}

{% block entity_to_delete %}
<div class="card-body table-responsive">
  <div class="alert alert-danger alert-dismissible">
    <h5><i class="icon fas fa-triangle-exclamation"></i> Atención!</h5>
      Estas por eliminar el registro Nro: <b>{{object.id}}</b>, {{del_title}} <b>{{object.office}}</b>.
      <ul>
        <li>
          Dependencia: <b>{{object.dependency.dependency}}</b>
        </li>
        <li>
          Localidad: <b>{{object.dependency.location.location}}.</b>
        </li>
      </ul>
      ¿Deseas continuar?
    </div>
</div>
{% endblock entity_to_delete %}