{% extends 'form.html' %}
{% load static %}

{% block extra_refs %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2-bootstrap.min.css' %}">
<script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/select2.full.min.js' %}"></script>
{% endblock extra_refs %}

{% block form %}

<div class="form-group">
  <label for="id_province">Provincia:</label>
  {{ form.province }}
  {% if form.province.errors %}
  <div class="invalid-feedback d-block">
    {{ form.province.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_location">Localidad:</label>
  {{ form.location }}
  {% if form.location.errors %}
  <div class="invalid-feedback d-block">
    {{ form.location.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_dependency">Dependencia:</label>
  {{ form.dependency }}
  {% if form.dependency.errors %}
  <div class="invalid-feedback d-block">
    {{ form.dependency.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_edifice">Edificio:</label>
  {{ form.edifice }}
  {% if form.edifice.errors %}
  <div class="invalid-feedback d-block">
    {{ form.edifice.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_loc">Ubicación:</label>
  {{ form.loc }}
  {% if form.loc.errors %}
  <div class="invalid-feedback d-block">
    {{ form.loc.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_office">Oficina:</label>
  {{ form.office }}
  {% if form.office.errors %}
  <div class="invalid-feedback d-block">
    {{ form.office.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_rack">Rack:</label>
  {{ form.rack }}
  {% if form.rack.errors %}
  <div class="invalid-feedback d-block">
    {{ form.rack.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_switch">Switch:</label>
  {{ form.switch }}
  {% if form.switch.errors %}
  <div class="invalid-feedback d-block">
    {{ form.switch.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_port_id">Puerto del Switch:</label>
  {{ form.port_id }}
  {% if form.port_id.errors %}
  <div class="invalid-feedback d-block">
    {{ form.port_id.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_obs">Observaciones:</label>
  {{ form.obs }}
  {% if form.obs.errors %}
  <div class="invalid-feedback d-block">
    {{ form.obs.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

{% endblock form %}

{% block form_scripts %}
<script src="{% static 'switch_port/js/form.js' %}"></script>
{% endblock form_scripts %}
