{% extends 'list.html' %}

{% load static %}

{% block header_list %}
 <!-- Datatables de la App sh -->
 <script src="{% static 'computer/js/list.js' %}"></script>
{% endblock header_list %}

{% block columns %}

  <th scope="col" style="width: 5%;">Id</th>
  <th scope="col" style="width: 5%;">Image</th>
  <th scope="col" style="width: 10%;">Nombre PC</thr>
  <th scope="col" style="width: 10%;">ip</th>
  <th scope="col" style="width: 20%;">Modelo de PC</th>
  <th scope="col" style="width: 25%;">Número de Serie</th>
  <th scope="col" style="width: 5%;">Operativo</th>
  <th scope="col" style="width: 5%;">En Uso</th>
  <th scope="col" style="width: 15%;">Opciones</th>

{% endblock columns %}

{% block rows %}



{% endblock rows %}

{% block add_button %}

<a href="{{ create_url }}" type="button" class="btn btn-primary" id="{{btn_add_id}}">
  <i class="fas fa-plus"></i> Agregar Computadora
</a>

{% endblock add_button %}

{% block js %}

{% endblock js %}
