{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Boca de Pared</title>
    <link rel="stylesheet" href="{% static 'lib/adminlte_3.2.0/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/fontawesome_6.5.2/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2_dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'lib/jquery_3.7.1/jquery-3.7.1.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <h2>Agregar Boca de Pared</h2>
        <form method="post" id="wall_portForm">
            {% csrf_token %}
            <div class="row bg-custom-dark-over-dark p-3 my-2 rounded">
                <div class="form-group col-12">
                    <label for="{{ form.office.id_for_label }}">Oficina: </label>
                    <button type="button" class="btn btn-xs {{btn_color}} ml-2 mb-1" id="office_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.office }}
                    {% if form.office.errors %}
                      <div class="invalid-feedback d-block">{{ form.office.errors|join:"<br>" }}</div>
                    {% endif %}
                </div>

                <div class="form-group col-12">
                    <label for="{{ form.wall_port.id_for_label }}">Boca de Pared: </label>
                    {{ form.wall_port }}
                    {% if form.wall_port.errors %}
                      <div class="invalid-feedback d-block">{{ form.wall_port.errors|join:"<br>" }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row bg-custom-dark-over-dark p-3 my-2 rounded">
                <div class="form-group col-6">
                    <label for="{{ form.switch.id_for_label }}">Switch de Ingreso: </label>
                    {{ form.switch }}
                    {% if form.switch.errors %}
                        <div class="invalid-feedback d-block">{{ form.switch.errors|join:"<br>" }}</div>
                    {% endif %}
                </div>

                <div class="form-group col-6">
                    <label for="{{ form.switch_port_in.id_for_label }}">Puerto del Switch de Ingreso: </label>
                    <button type="button" class="btn btn-xs {{btn_color}} ml-2 mb-1" id="switch_port_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.switch_port_in }}
                    {% if form.switch_port_in.errors %}
                        <div class="invalid-feedback d-block">{{ form.switch_port_in.errors|join:"<br>" }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row bg-custom-dark-over-dark my-2 p-3 rounded">
                <div class="form-group col-6">
                    <label for="{{ form.patchera.id_for_label }}">Patchera de Ingreso: </label>
                    {{ form.patchera }}
                    {% if form.patchera.errors %}
                        <div class="invalid-feedback d-block">{{ form.patchera.errors|join:"<br>" }}</div>
                    {% endif %}
                </div>

                <div class="form-group col-6">
                    <label for="{{ form.patch_port_in.id_for_label }}">Puerto de la Patchera de Ingreso: </label>
                    <button type="button" class="btn btn-xs {{btn_color}} ml-2 mb-1" id="patch_port_popup_add"><i class="fas fa-plus"></i></button>
                    {{ form.patch_port_in }}
                    {% if form.patch_port_in.errors %}
                        <div class="invalid-feedback d-block">{{ form.patch_port_in.errors|join:"<br>" }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row bg-custom-dark-over-dark my-2 p-3 rounded">
                <div class="form-group col-12">
                    <label for="{{ form.details.id_for_label }}">Detalles: </label>
                    {{ form.details }}
                    {% if form.details.help_text %}
                    <small class="form-text text-muted">{{form.details.help_text}}</small>
                    {% endif %}
                    {% if form.details.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.details.errors|join:"<br>" }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Guardar <i class="fas fa-save"></i></button>
        </form>
    </div>

    <script src="{% static 'lib/select2_4.1.0/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/popup_filters.js' %}"></script>
    <script>
        $(document).ready(function() {

            const urls = {
                load_switches: "{% url 'sh:ajax_load_switch' %}",
                load_patcheras: "{% url 'sh:ajax_load_patchera' %}",
                load_switch_ports: "{% url 'sh:ajax_load_switch_port' %}",
                load_patch_ports: "{% url 'sh:ajax_load_patch_ports' %}",
            }

            initPopupFilters(
                '#id_office',
                '#id_switch',
                '#id_patchera',
                '#id_switch_port_in',
                '#id_patch_port_in',
                null,
                null,
                urls,
                true
            );
        });

        submitPopupForm('#wall_portForm', "{% url 'sh:wall_port_add' %}", 'wall_port');

        let officeAddUrl = "{% url 'sh:office_add' %}";
        let switch_portAddUrl = "{% url 'sh:switch_port_add' %}";
        let patch_portAddUrl = "{% url 'sh:patch_port_add' %}";

        initPopup({
            triggerSelector: '#office_popup_add',
            popupUrl: "{% url 'sh:office_add' %}",
            entityType: 'wall_port',
            selectedId: 'id_office',
            formSelector: '#wall_portForm',
            onSuccess: function(response) {
                console.log('Oficina agregada:', response);
            }
        })

        initPopup({
            triggerSelector: '#switch_port_popup_add',
            popupUrl: "{% url 'sh:switch_port_add' %}",
            entityType: 'wall_port',
            selectedId: 'id_switch_port_in',
            formSelector: '#wall_portForm',
            onSuccess: function(response) {
                console.log('Puerto del switch de ingreso agregado:', response);
            }
        })

        initPopup({
            triggerSelector: '#patch_port_popup_add',
            popupUrl: "{% url 'sh:patch_port_add' %}",
            entityType: 'wall_port',
            selectedId: 'id_pathc_port_in',
            formSelector: '#wall_portForm',
            onSuccess: function(response) {
                console.log('Puerto de la patchera de ingreso agregado:', response);
            }
        })

        window.addEventListener('message', function(event) {
            if (event.data.type === 'officeAdded') {
                let select = document.getElementById('id_office');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }

            if (event.data.type === 'switch_portAdded') {
                let select = document.getElementById('id_switch_port_in');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }

            if (event.data.type === 'patch_portAdded') {
                let select = document.getElementById('id_patch_port_in');
                let option = new Option(event.data.name, event.data.id, true, true);
                select.appendChild(option);
                select.value = event.data.id;
                console.log('Selector actualizado con:', event.data.name);
            }
        });

    </script>
</body>
</html>