{% extends 'form.html' %}

{% load static %}

{% block form %}
<div class="form-group">
  <label for="id_rack">Rack:</label>
  {{ form.rack }}
  {% if form.rack.errors %}
    <div class="invalid-feedback d-block">
      {{ form.rack.errors|join:"<br>" }}
    </div>
  {% endif %}
</div>

<div class="form-group"></div>
  <label for="id_rack">Rack:</label>
  {{ form.details }}
  {% if form.details.errors %}
    <div class="invalid-feedback d-block">
      {{ form.details.errors|join:"<br>" }}
    </div>
  {% endif %}
</div>

{% endblock form %}

{% block form_scripts %}
  <script src="{% static 'brand/js/form.js' %}"></script>
{% endblock form_scripts %}