{% extends 'form.html' %}
{% load static %}

{% block extra_refs %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2-bootstrap.min.css' %}">
<script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/select2.full.min.js' %}"></script>
{% endblock extra_refs %}

{% block form %}

<div class="form-group">
  <label for="id_brand">Marca:</label>
  {{ form.brand }}
  {% if form.brand.errors %}
  <div class="invalid-feedback d-block">
    {{ form.brand.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_model">Modelo:</label>
  {{ form.model }}
  {% if form.model.errors %}
  <div class="invalid-feedback d-block">
    {{ form.model.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_serial_n">Número de Serie:</label>
  {{ form.serial_n }}
  {% if form.serial_n.errors %}
  <div class="invalid-feedback d-block">
    {{ form.serial_n.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_ports_q">Cantidad de Puertos:</label>
  {{ form.ports_q }}
  {% if form.ports_q.errors %}
  <div class="invalid-feedback d-block">
    {{ form.ports_q.errors|join:"<br>" }}
  </div>
{% endif %}
</div>

<div class="form-group">
  <label for="id_location">Localidad:</label>
  {{ form.location }}
  {% if form.location.errors %}
  <div class="invalid-feedback d-block">
    {{ form.location.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_edifice">Edificio:</label>
  {{ form.edifice }}
  {% if form.edifice.errors %}
  <div class="invalid-feedback d-block">
    {{ form.edifice.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_dependency">Dependencia:</label>
  {{ form.dependency }}
  {% if form.dependency.errors %}
  <div class="invalid-feedback d-block">
    {{ form.dependency.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_office">Oficina:</label>
  {{ form.office }}
  {% if form.office.errors %}
  <div class="invalid-feedback d-block">
    {{ form.office.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group"></div>
  <label for="id_rack"> Rack:</label>
  {{ form.rack }}
  {% if form.rack.errors %}
  <div class="invalid-feedback d-block">
    {{ form.rack.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_switch_rack_pos">Posición en el Rack:</label>
  {{ form.switch_rack_pos }}
  {% if form.switch_rack_pos.errors %}
  <div class="invalid-feedback d-block">
    {{ form.switch_rack_pos.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

{% endblock form %}

{% block form_scripts %}
  <script src="{% static 'switch/js/form.js' %}"></script>
{% endblock form_scripts %}
