{% extends 'body.html' %}

{% block content %}
<form method="post" action="." id="{{form_id}}" class="container">
  {% csrf_token %}
  <input type="hidden" name="action" value="{{ action }}">
  <div class="card card-default mb-2">
    <div class="card-header {{bg_color}}">
      <h3 class="card-title">
      <i class="fas fa-trash-alt"></i>
      {{title}}
      </h3>
    </div>

    {% block entity_to_delete %}

    {% endblock entity_to_delete %}

    <div class="card-footer">

      {% block add_button %}
      <button type="submit" class="btn btn-danger" id="{{btn_add_id}}">
        <i class="fas fa-circle-check"></i> Si, eliminar
      </button>
      <a href="{{ list_url }}" type="submit" class="btn btn-primary" id="{{btn_add_id}}">
        <i class="fas fa-circle-arrow-left"></i> No, regresar a listado
      </a>
      {% endblock add_button %}

    </div>
  </div>
</form>
<script>
$(document).ready(function() {

  $('#{{form_id}}').on('submit', function(e) {
    e.preventDefault()

    let params = $(this).serializeArray();
    let actionType = "{{ action }}"

    submit_with_ajax(window.location.pathname, params, function(data){
      window.location.href = '{{ list_url }}'
    }, actionType);
    });
  });
</script>
{% endblock content %}