{% extends 'body.html' %}
{% load static %}

{% block extra_refs %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2-bootstrap.min.css' %}">
<script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/select2.full.min.js' %}"></script>
{% endblock extra_refs %}

{% block content %}
<form
  method="post"
  action="."
  enctype="multipart/form-data"
  id="{{form_id}}"
  data-list-url="{{ list_url }}"
  class="container"
  data-form-id="{{form_id}}"
  data-has-errors="{{ form.errors|yesno:'true,false' }}"
  data-saved="{{ saved|default_if_none:False|yesno:'true,false' }}"
  data-action="{{ action }}"
  >
  {% csrf_token %}
  <div class="card card-default mb-2">
    <div class="card-header {{bg_color}}">
      <h3 class="card-title">

        {% if action == 'add' %}
          <i class="fa-regular fa-square-plus"></i>
        {% else %}
          <i class="fa-regular fa-edit"></i>
        {% endif %}

      {{title}}
      </h3>
    </div>

    <div class="card-body table-responsive">

        <input type="hidden" name="action" value="{{ action }}">

        {% if form.errors %}

        <div class="alert alert-danger alert-dismissible">

          <h5><i class="icon fas fa-triangle-exclamation"></i> Se encontraron los siguientes errores: </h5>

        </div>
        {% endif %}

        {% block form %}
        {% endblock form %}

        {{ field }}
        </div>

        <div class="card-footer">

          {% block add_button %}
          <button type="button" class="btn btn-primary" id="{{btn_add_id}}" onclick="submit_with_ajax('{% url {{swa_url_add}}  %}', new FormData(document.getElementById('{{form_id}}')), function() {window.location.href = '{% url {{swa_url_list}} %}'; }, '{{action}}')">
            <i class="fas fa-save"></i> Guardar Registro
          </button>
          <a href="{{ list_url }}" type="submit" class="btn btn-danger" id="{{btn_add_id}}">
            <i class="fas fa-circle-arrow-left"></i> Regresar a listado
          </a>
          {% endblock add_button %}

        </div>

    </div>
  </div>
</form>
{% block form_scripts %}

{% endblock form_scripts %}

{% endblock content %}