{% extends 'form.html' %}
{% load static %}

{% block extra_refs %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/select2-4.1.0-rc.0/dist/css/select2-bootstrap.min.css' %}">
<script src="{% static 'lib/select2-4.1.0-rc.0/dist/js/select2.full.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/select2_dark.css' %}">
{% endblock extra_refs %}

{% block form %}
  <button id="toggle-edifice-filters" class="btn {{filter_btn_color}} mb-1" type="button"> Filtros para Edificios <i class="fas fa-search"></i></button>
  <div id="filter-edifice-cards" class="d-none">
    <div class="row">
      <div class="container">
  <!-- Tarjeta Filtros Geográficos -->
      <div class="card mt-1">
        <div class="card-header {{bg_color}}">
          Filtros por Ubicacion
        </div>
        <div class="card-body row">
          <div class="form-group col-12">
            <label for="id_province">Provincia:</label>
            {{ form.province }}
            {% if form.province.errors %}
            <div class="invalid-feedback d-block">
              {{ form.province.errors|join:"<br>" }}
            </div>
            {% endif %}
          </div>

          <div class="form-group col-12">
            <label for="id_location">Localidad:</label>
            {{ form.location }}
            {% if form.location.errors %}
            <div class="invalid-feedback d-block">
              {{ form.location.errors|join:"<br>" }}
            </div>
            {% endif %}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

<div class="form-group">
  <label for="id_edifice">Edificio:</label>
  {{ form.edifice }}
  {% if form.edifice.errors %}
  <div class="invalid-feedback d-block">
    {{ form.edifice.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_floor">Piso:</label>
  {{ form.floor }}
  {% if form.floor.help_text %}
  <small class="form-text text-muted">{{form.floor.help_text}}</small>
  {% endif %}
  {% if form.floor.errors %}
  <div class="invalid-feedback d-block">
    {{ form.floor.errors|join:"<br>" }}
  </div>
  {% endif %}
</div>

<div class="form-group">
  <label for="id_connection_type">Ala:</label>
  {{ form.wing }}
  {% if form.wing.help_text %}
  <small class="form-text text-muted">{{form.wing.help_text}}</small>
  {% endif %}
  {% if form.wing.errors %}
  <div class="invalid-feedback d-block">
    {{ form.wing.errors|join:"<br>" }}
  </div>
{% endif %}
</div>

{% endblock form %}

{% block form_scripts %}
  <script src="{% static 'js/filters.js' %}"></script>
  <script src="{% static 'office_loc/js/form.js' %}"></script>
{% endblock form_scripts %}
