{% extends 'body.html' %}

{% block content_class %}dashboard-content{% endblock content_class %}

{% block content %}
<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-lg-6 col-md-6 mb-4 d-flex justify-content-center">
            <a href="#" class="btn btn-primary btn-lg d-flex flex-column align-items-center justify-content-center" style="width: 200px; height: 200px;">
                <i class="fas fa-print fa-2x"></i>
                <span class="mt-2">Impresoras</span>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 mb-4 d-flex justify-content-center">
            <a href="#" class="btn bg-custom-danger btn-lg d-flex flex-column align-items-center justify-content-center" style="width: 200px; height: 200px;">
                <i class="fas fa-desktop fa-2x"></i>
                <span class="mt-2">Computadoras</span>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 mb-4 d-flex justify-content-center">
            <a href="#" class="btn btn-success btn-lg d-flex flex-column align-items-center justify-content-center" style="width: 200px; height: 200px;">
                <i class="fas fa-keyboard fa-2x"></i>
                <span class="mt-2">Periféricos</span>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 mb-4 d-flex justify-content-center">
            <a href="#" class="btn bg-custom-warning btn-lg d-flex flex-column align-items-center justify-content-center" style="width: 200px; height: 200px;">
                <i class="fas fa-tv fa-2x"></i>
                <span class="mt-2">Monitores</span>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
