{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SH / {{page_title}}</title>

  <!-- AdminLte 3.2.0 -->
  <link rel="stylesheet" href="{% static 'lib/adminlte_3.2.0/dist/css/adminlte.min.css' %}">
  <!-- Fontawsome 6.5.2 -->
  <link rel="stylesheet" href="{% static 'lib/fontawesome_6.5.2/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Jquery -->
  <script src="{% static 'lib/adminlte_3.2.0/plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery_3.6/jquery.min.js' %}"></script>
  <!-- Jquery Confirm 3.3.4 -->
  <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">

  {% block extra_refs %}

  {% endblock extra_refs %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">


  {% block body %}

  {% endblock body %}

  <!-- SCRIPTS -->
  <!-- AdminLte 3.1.0 -->
  <script src="{% static 'lib/adminlte_3.2.0/dist/js/adminlte.min.js' %}"></script>
  <!-- Fontawsome 6.5.2 -->
  <script src="{% static 'lib/fontawesome_6.5.2/js/all.min.js' %}"></script>
  <!-- Sweet Alert 2 -->
  <script src="{% static 'lib/sweetalert2-11.11.0/sweetalert2.all.min.js' %}"></script>
  <!-- Jquery Confirm -->
  <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
  <!-- Js Functions-->
  <script src="{% static 'js/functions.js' %}"></script>
  {% block extra_js %}

  {% endblock extra_js %}

</body>

</html>
