{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar main-sidebar-custom sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'index' %}" class="brand-link">
    <img src="{% static 'img/sh_logo.svg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Smart Hunt</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'lib/adminlte_3.2.0/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- TABLAS ESTÁTICAS -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fas fa-table-cells"></i>
            <p>
              TABLAS ESTÁTICAS
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <!-- GEOGRÁFICAS -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="fas fa-table-cells"></i>
                <p>
                  GEOGRÁFICAS
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'sh:province_list' %}" class="nav-link">
                    <i class="fas fa-earth-americas"></i>
                    <p>Provincias</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:location_list' %}" class="nav-link">
                    <i class="fas fa-earth-americas"></i>
                    <p>Localidades</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:edifice_list' %}" class="nav-link">
                    <i class="fa-solid fa-building"></i>
                    <p>Edificios</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:dependency_list' %}" class="nav-link">
                    <i class="fa-solid fa-gavel"></i>
                    <p>Dependencia</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:office_loc_list' %}" class="nav-link">
                    <i class="fa-solid fa-building"></i>
                    <p>Locación de Oficina</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:office_list' %}" class="nav-link">
                    <i class="fa-regular fa-building"></i>
                    <p>Oficina</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- TECNICAS -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="fas fa-table-cells"></i>
                <p>
                  TÉCNICAS
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'sh:rack_list' %}" class="nav-link">
                    <i class="fa-solid fa-server"></i>
                    <p>Racks</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:switch_list' %}" class="nav-link">
                    <i class="fa-solid fa-server"></i>
                    <p>Switches</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:patchera_list' %}" class="nav-link">
                    <i class="fa-solid fa-ethernet"></i>
                    <p>Patcheras</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:connection_type_list' %}" class="nav-link">
                    <i class="fa-solid fa-ethernet"></i>
                    <p>Tipos de Conexión</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:brand_list' %}" class="nav-link">
                    <i class="fa-solid fa-copyright"></i>
                    <p>Marcas de Dispositivos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:suply_type_list' %}" class="nav-link">
                    <i class="fa fa-boxes-stacked"></i>
                    <p>Tipos de Insumos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:dev_type_list' %}" class="nav-link">
                    <i class="fa-solid fa-computer"></i>
                    <p>Tipos de Dispositivos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:dev_status_list' %}" class="nav-link">
                    <i class="fa-solid fa-computer"></i>
                    <p>Estados de los Dispositivos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:dev_model_list' %}" class="nav-link">
                    <i class="fa-solid fa-computer"></i>
                    <p>Modelos de Dispositivos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'sh:move_type_list' %}" class="nav-link">
                    <i class="fa-solid fa-arrows-turn-to-dots"></i>
                    <p>Tipo de Movimiento</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- EMPLEADOS -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="fas fa-table-cells"></i>
                <p>
                  EMPLEADOS
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'sh:employee_status_list' %}" class="nav-link">
                    <i class="fa fas fa-user-tie"></i>
                    <p>Estados de los Empleados</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- TABLAS DINÁMICAS -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fas fa-table-cells"></i>
            <p>
              TABLAS DINÁMICAS
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'sh:employee_list' %}" class="nav-link">
                <i class="fa-solid fa-user-tie"></i>
                <p>Empleados</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sh:techs_list' %}" class="nav-link">
                <i class="fa-solid fa-helmet-safety"></i>
                <p>Técnicos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sh:device_list' %}" class="nav-link">
                <i class="fa-solid fa-computer"></i>
                <p>Dispositivos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sh:switch_port_list' %}" class="nav-link">
                <i class="fa-solid fa-ethernet"></i>
                <p>Puertos de Switches</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sh:patch_port_list' %}" class="nav-link">
                <i class="fa-solid fa-ethernet"></i>
                <p>Puertos de Patcheras</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sh:wall_port_list' %}" class="nav-link">
                <i class="fa-solid fa-ethernet"></i>
                <p>Bocas de Red/Pared</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sh:suply_list' %}" class="nav-link">
                <i class="fa-solid fa-boxes-stacked"></i>
                <p>Insumos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'sh:movements_list' %}" class="nav-link">
                <i class="fa-solid fa-arrows-turn-to-dots"></i>
                <p>Movimientos</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->

  <div class="sidebar-custom">
    <a href="#" class="btn btn-link"><i class="fas fa-cogs"></i></a>
    <a href="#" class="btn btn-secondary hide-on-collapse pos-right">Help</a>
  </div>
  <!-- /.sidebar-custom -->
</aside>
