{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Provincia</title>
    <link rel="stylesheet" href="{% static 'lib/adminlte_3.2.0/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/fontawesome_6.5.2/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2_dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'lib/jquery_3.7.1/jquery-3.7.1.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <h2>Agregar Marca</h2>
        <form method="post" id="brandForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.brand.id_for_label }}">Marca: </label>
                {{ form.brand }}
                {% if form.brand.errors %}
                  <div class="invalid-feedback d-block">{{ form.brand.errors|join:"<br>" }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Guardar <i class="fas fa-save"></i></button>
        </form>
    </div>

    <script src="{% static 'lib/select2_4.1.0/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>

    <script>
        $(document).ready(function() {
                submitPopupForm('#brandForm', "{% url 'sh:brand_add' %}", 'brand');
        });

        initPopup({
            entityType: 'brand',
            formSelector: '#brandForm',
        })
    </script>
</body>
</html>