{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Tecnico</title>
    <link rel="stylesheet" href="{% static 'lib/adminlte_3.2.0/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2_4.1.0/dist/css/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/fontawesome_6.5.2/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2_dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'lib/jquery_3.7.1/jquery-3.7.1.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <h2>Agregar Tecnico</h2>
        <form method="post" id="techForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Nombre del Técnico: </label>
                {{ form.name }}
                {% if form.name.errors %}
                  <div class="invalid-feedback d-block">{{ form.name.errors|join:"<br>" }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Apellido del Técnico: </label>
                {{ form.last_name }}
                 {% if form.last_name.errors %}
                    <div class="invalid-feedback d-block">{{ form.last_name.errors|join:"<br>" }}</div>
                 {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Guardar <i class="fas fa-save"></i></button>
        </form>
    </div>

    <script src="{% static 'lib/select2_4.1.0/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>

    <script>
        $(document).ready(function() {
                submitPopupForm('#techForm', "{% url 'sh:tech_add' %}", 'tech');
        });

        initPopup({
            entityType: 'tech',
            formSelector: '#techForm',
        })
    </script>
</body>
</html>